.d-flex {
    display: flex!important;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.all-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2rem;
    padding: 1rem;
}
.sc-footer {
  
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    background: grey;
   

}

.formulario3 {
    display: flex;
    justify-content: space-evenly;
    
}

.boton-send {
    width: 20%;
}


.datos-p{
    display: flex;
    flex-direction: column;
    width: 300px;
}
.label-data2 {
    display: flex;
    position: relative;
   
    width: 100%;
    height: fit-content;
    height: 10rem;
    
    
    
   }
   table{
    border: 1px solid black;
    border-collapse: collapse;
   
}
.tabla-stats {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}


.parte-form {
    display: flex;
    width: 300px;
    height: 400px;
    background-color: aliceblue;
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid black;
}
header {
    min-height: 11vh;
}
main {
    min-height: 83vh;
}
footer {
    min-height: 6vh;
}